

@font-face{
	font-family: amaticSC;
	src: url(fonts/amatic/AmaticSC-Regular.ttf);
}

@font-face{
	font-family: josefinSansRegular;
	src: url(fonts/josefin-sans/JosefinSans-Regular.ttf);
}

body{
	background: #333333;
}

header{

}
 
h1{
	display: inline;
	position: fixed;
	color: #A1874E;

	margin-top:-300px;
	margin-left: 20px;
	
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 100px;
	padding-right: 0px;
	
	font: 150px amaticSC;
}

h3{
	color: #A1874E;
	margin-left: 500px;
	background-color: #530D0D;

	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	font: 50px amaticSC;
}

p{
	color: black;
	margin-left: 500px;
	
	background-size: contain;
	background-color: WhiteSmoke;
	
	padding: 30px;

	font: 30px josefinSansRegular;
}

.navigation{

	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 4;

	margin-left: 250px;
	margin-bottom: 0px;

	text-align: center;

	color: #A1874E;
	font: 50px amaticSC;
}

.button{
	display: inline-block;
	position: relative;
	vertical-align: middle;

	margin-right: 20px;
	margin-left: 40px;
	
	cursor: pointer;
	text-align: center;
	width: 100px;
}

.button:hover{
	color: white;
}

.about{
	margin-top: 300px;
	position: relative;

}